/* =========================
YCSS NGO - Professional CSS
========================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
scroll-behavior:smooth;
}

body{
background:#f5f7fb;
color:#333;
line-height:1.6;
}

/* HEADER */

header{
background:#003366;
position:sticky;
top:0;
z-index:999;
box-shadow:0 2px 10px rgba(0,0,0,.15);
}

.container{
width:90%;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 0;
}

.logo h1{
color:#fff;
font-size:34px;
}

.logo p{
color:#ddd;
font-size:14px;
}

nav{
display:flex;
flex-wrap:wrap;
gap:18px;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
transition:.3s;
}

nav a:hover{
color:#FFD700;
}

/* HERO */

.hero{
height:90vh;
background:url("baner.jpg") center center/cover no-repeat;
position:relative;
display:flex;
justify-content:center;
align-items:center;
}

.overlay{
background:rgba(0,0,0,.55);
width:100%;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
color:#fff;
padding:20px;
}

.overlay h2{
font-size:60px;
margin-bottom:20px;
}

.overlay p{
font-size:24px;
margin-bottom:35px;
}

.hero-buttons{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.btn{
background:#ff6600;
padding:16px 35px;
border-radius:40px;
color:white;
text-decoration:none;
font-weight:bold;
transition:.3s;
}

.btn:hover{
background:#e65100;
}

.btn2{
background:#fff;
padding:16px 35px;
border-radius:40px;
color:#003366;
text-decoration:none;
font-weight:bold;
transition:.3s;
}

.btn2:hover{
background:#FFD700;
}

/* IMPACT */

.impact{
padding:80px 10%;
text-align:center;
background:white;
}

.impact h2{
font-size:42px;
margin-bottom:40px;
color:#003366;
}

.impact-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.impact-box{
background:#f8fbff;
padding:35px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,.08);
transition:.3s;
}

.impact-box:hover{
transform:translateY(-8px);
}

.impact-box h3{
font-size:48px;
color:#ff6600;
margin-bottom:10px;
}

.impact-box p{
font-size:20px;
}

/* ABOUT */

.about-home{
padding:80px 12%;
text-align:center;
background:#eef5ff;
}

.about-home h2{
font-size:42px;
color:#003366;
margin-bottom:25px;
}

.about-home p{
font-size:21px;
max-width:1000px;
margin:auto;
}

/* VISION */

.vision-mission{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
gap:30px;
padding:80px 10%;
background:white;
}

.box{
background:#f8fbff;
padding:40px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,.08);
}

.box h2{
color:#003366;
margin-bottom:20px;
font-size:35px;
}

.box p{
font-size:20px;
}

/* PROGRAMS */

.programs{
padding:80px 10%;
background:#eef5ff;
text-align:center;
}

.programs h2{
font-size:42px;
color:#003366;
margin-bottom:45px;
}

.program-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:25px;
}

.card{
background:white;
padding:
